.full-size {
	width: 100vh;
}

.underline:hover:after,
.underline:focus:after {
	width: 100%;
}

.underline:hover {
	color: #fff;
}

.underline:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #fff;
	transition: width 0.4s ease-in-out;
}
